<body class="about">
  <!-- Services Section -->
    <section id="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">A professional network, translate-on-demand, trivia chatbots, and more!</h2>
          </div>
        </div>
      </div>
    </section>
  <!-- Website Tutorial -->
    <section id="video">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <iframe src="https://player.vimeo.com/video/179313388" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p><a href="https://vimeo.com/179313388">smartXchange website tutorial</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Board Tutorial -->
      <section id="video-board">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <iframe src="https://player.vimeo.com/video/182330827" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              <p><a href="https://vimeo.com/182330827">smartXchange board tutorial</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Mobile Tutorial -->
        <section id="video-mobile">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <iframe src="https://player.vimeo.com/video/185136448" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p><a href="https://vimeo.com/185136448">smartXchange mobile tutorial</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
              </div>
            </div>
          </div>
        </section>
<!-- Services Section -->
  <section id="services">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Services</h2>
                  <h3 class="section-subheading text-muted">Frustrated with your ability to speak a second or third language and frustrated with the current options for learning and practicing? While studying in Madrid, some members of our team were frustrated by the language learning options available and found that we needed to practice with someone close to our level. In comes smartXchange: a unique platform for matching people based on their language level and background with the intent of practicing a second or third language. Find other active or non-active users and practice your language of choice while discussing your background and networking. No contacts, no followers, no connections, only conversations. </h3>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <%= image_tag('Matching.png', alt: 'SmartXchange') %>
                  </span>
                  <h4 class="service-heading">Matching</h4>
                  <p class="text-muted">Match with people you can trust at the right time and place. Match with people of similar language level and interests who are close by.</p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <%= image_tag('Network.png', alt: 'SmartXchange') %>
                  </span>
                  <h4 class="service-heading">Network</h4>
                  <p class="text-muted">Find other international students and professionals who want to practice a language and exchange insightful career, educational, and informal experiences.</p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <%= image_tag('Trust.png', alt: 'SmartXchange') %>
                      <!-- save as reference -->
                      <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                  </span>
                  <h4 class="service-heading">Trust and Security</h4>
                  <p class="text-muted">Ensure quality interactions with peer to peer language level reviews, secure chats over our platform, and Linkedin integrated information.</p>
              </div>
          </div>
      </div>
  </section>

  <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What the data says</h2>
                    <h3 class="section-subheading text-muted">Finding an adequate language learning partner is key</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                      <%= image_tag('Practice_second_language.png', alt: 'SmartXchange', class: 'img-responsive') %>
                    <div class="portfolio-caption">
                        <h4>95%</h4>
                        <p class="text-muted">Of people practice at least a second language</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <%= image_tag('Practice_second_language_important.png', alt: 'SmartXchange', class: 'img-responsive') %>
                    <div class="portfolio-caption">
                        <h4>85%</h4>
                        <p class="text-muted">Of people believe practicing is the best way to improve a language</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <%= image_tag('Practice_second_language_unknown_partner.png', alt: 'SmartXchange', class: 'img-responsive') %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>79%</h4>
                        <p class="text-muted">Of people feel confident to meet unknown people</p>
                    </div>
                </div>

                <!-- for reference -->
                <!-- <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/escape.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Escape</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div> -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">History</h2>
                    <h3 class="section-subheading text-muted">From Concept to Reality</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <%= image_tag('Original Team adjusted.png', alt: 'SmartXchange', class: 'img-circle img-responsive') %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2016</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The team met at a Wayra WeStartDigital event. Two members of the team pitched similar ideas and joined forces to implement a concept encompassing both ideas. Through the gruesome startup battlefield, only 4 of the 7 original members remain.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag('Concept Development adjusted.jpg', alt: 'SmartXchange', class: 'img-circle img-responsive') %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2016</h4>
                                    <h4 class="subheading">Concept Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With weekly meetings and working remotely we discussed our business model, target customers, value proposition, competitors, product, and features.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <%= image_tag('Pitch action shot adjusted.png', alt: 'SmartXchange', class: 'img-circle img-responsive') %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2016</h4>
                                    <h4 class="subheading">Pitches and Applications</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We continued to develop our concept and started planning the launch of our Minimum Viable Product. Meanwhile we applied to incubator programs and pitched at events like BBVA Innovation.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag('default-profile-pic adjusted.png', alt: 'SmartXchange', class: 'img-circle img-responsive') %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2016</h4>
                                    <h4 class="subheading">Minimum Viable Product and Mentoring</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With a general concept down, we created a basic online application to test our concept. More features to come :).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="<%= signup_path %>"><h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="premium">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">smartXchange Premium</h2>
                  <h3 class="section-subheading text-muted"><%= Package.second.description %> Start your 7 day free trial today.</h3>
                  <%=link_to "Premium Package #{number_to_currency(Package.second.price, :unit => "€")} / month", new_transaction_path, class: "btn btn-primary premium" %>
              </div>
          </div>
      </div>
    </section>
</body>
