
<li class="<%=  self_or_other(message) %>">
  <div class="image">
    <%= image_tag(message.sender.image.small_thumb.url, alt: message.sender.name) %>
  </div>
  <div class="chatboxmessagecontent">
    <p><%= message.body %></p>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
      <%= message_interlocutor(message).name %> • <%= message.created_at.strftime("%B %d, %H:%M %p") %>
    </time>
  </div>
</li>
