<div class="chat-room <%= chat_room.id %>">
<a href="<%= chat_room_path(chat_room) %>" class="chat-room">
    <% chat_room_unread_notifications = chat_room_count_unread(chat_room, current_user) %>
    <% unread = chat_room_unread_notifications > 0 ? "(#{chat_room_unread_notifications})" : "" %>
    <% user = chat_room_interlocutor(chat_room, current_user) %>
      <!-- using user scss here may refactor change to chat css later -->
        <div class="chat-room-image">
          <%= user_convert_nationality_to_img(user.nationality) %>
        </div>
        <div class="chat-room-content">
          <p><%= "#{user.name} #{unread}" %> <%= image_tag('green-dot.png', alt: 'Active') if user.active %> - <%= "#{chat_room.title} Conversation"%></p>
        </div>
</a>
<!-- may want to center this at a later time, using br tag for now and  comes in fine as is -->
<br>
<%= link_to image_tag('red-x-delete.png', alt:  'Delete'), chat_room_path(chat_room), remote: true, method: 'delete', data: {confirm: "Are you sure you want to delete this Conversation? All associated messages and notifications will be deleted along with it."}, class: 'delete-chat-room'  %>
</div>
