<!-- this class has no styling at the moment may want to maybe refactor later -->
<h2><a href="<%=user_url(@receiver)%>">
  <%= chat_room_convert_title_to_img(@chat_room.title) %>
  <%= " #{@receiver.name}" %>
  <%= image_tag('green-dot.png', class:'active', alt: 'Active') if @receiver.active %>
</a></h2>

<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @messages %>
</div>

<br/><br/>
<!-- class and id are new_message -->
<div id="message-form">
  <%= form_for @message, url: '#' do |f| %>
  <%= f.text_area :body, id: 'message-body' %>
  <%= f.submit 'Send', class: 'btn btn-primary send-message' %>
  <% end %>
</div>

<%= render 'layouts/translate' %>
