Dear <%= @user.name %>,
===============================================
Are you interested in practicing <%= @user.language %> with any of the following users? Notify them within 24 hours.

<% if @matches.any? %>
  <ul>
    <% @matches.each do |match| %>
        <li>
          <%= image_tag(attachments["#{match.name}.jpg"].url, alt: "#{match.name}") %>
          <%= image_tag(attachments["linkedin.png"].url, alt: "Linkedin") if match.linkedin %>
          <%= "#{match.name}, #{match.title}" %>
          <%= link_to "Notify", @match_urls[match.id], class: 'mail-btn' %>
        </li>
    <% end %>
  </ul>
<% end %>
<%= link_to "Log in", @url, class:'mail-btn' %> to see more people practicing <%= @user.language %><br><br>
