<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Dear <%= @user.name %>,</h4>
    <% if @notifications > 0  %>
      <p>
        You have <%= @notifications %> new <%= @notifications > 1 ? "notifications" : "notification" %>. <a href="<%= @url %>">Log in</a> to see your unread messages!
      </p>
    <% end %>
    <p>
      After launching 2 months ago, we have more than doubled our user base from 29 to 68 users!
      Since last month, we have: <br>
      -added Linkedin integration, allowing you to share and view others' basic Linkedin profile information. <br>
      -improved the design of the landing (Network) page and the chat rooms page.<br>
      -made the website more mobile friendly, with an improved look and feel for when you're not on your desktop or labtop.<br>
      -added a support email: support@smartxchange.es which potential and existing users can email at any time with inquiries.<br>
      -greatly improved notifications so that you are notified of incoming messages no matter what page you are on while navigating the site. These notifications will alert you via sound and by changing the header and title of the website.<br>
      -implemented the beta version of the matching algorithm, now showing you your best potential language practice partners (on the Network page) in order based on their closeness in language level.<br>
      -added delete buttons for chat rooms, users, and linkedin information, allowing you to delete chat rooms (and associated messages and notifications), your account (and associated chat rooms, messages, and notifications), and your Linkedin information. Please note that deleting Linkedin information will prevent you from being able to sign in if you registered with Linkedin.<br>
      -and lastly, added the ability for you to reset your password if you have forgotten your password or wish to change your password.
    </p>
    <p>
      In the coming month, we are working on making the site more mobile friendly, adding more features to the landing (Network) page, and implementing a chat room for all active users to participate in and where you can share links to kickstarter projects or applications you are working on to gain awareness and (potential) funding.
    </p>
    <p>
      Finally, and what I am very excited about, is our chatbot competition. We will be allowing users to upload chatbots to the platform that can tell jokes, play trivia, and help users learn a particular language in an innovative and fun way using artificial intelligence and algorithms. If anyone is interested please respond to this email with the title "chatbot Interest" and I will explain the guidelines and more information regarding making a chatbot.
    </p>
    <p>
      Make sure to check out the new <a href="<%= @url_tutorial %>">smartxchange website video tutorial</a>, and
      don't forget to follow the latest posts on our <a href="https://twitter.com/smart_xchange">twitter</a> page.
    </p>
    <p>
      Keep practicing and networking in your free time at work
      or at home!<br> Sebastian Peterlin <br> Co-founder of smartXchange
    </p>
  </body>
</html>
