<!DOCTYPE html>
<html>
  <%= render 'layouts/header_mail' %>
  <body>
    <h4>Dear <%= @user.name %>,</h4>
    <% if @notifications > 0  %>
        You have <%= pluralize(@notifications, "new notification") %>. <%= link_to "Log in", @url, class:'mail-btn'  %> to see your unread <%= "notification".pluralize(@notifications) %>!
    <% end %>
    <p>
      smartXchange is proud to have entered its third month since launching with now over 100 users!
      This past month we have added the board (for posting to the general smartXchange community), added a nationality field (native country) so your native country's flag is displayed to the other user during conversations, added search to search our database of users, added geolocation (for users with Linkedin integration) so matches appear higher if they are closer, and added a mobile tutorial.
    </p>
    <p>
      Make sure to update your nationality (native country), everyone has been set to Spanish (Spain) by default.
      We have updated board notifications so that everytime you upvote or comment on a post you will automatically be added as a follower; to unfollow simply click Unfollow or downvote the post. If the board has been updated since you last read it, the word Board in the header will be highlighted in yellow to reflect this. If you click on the board tab, the board will be displayed and scroll to the newest update.
      Lastly, enjoy the new search feature and search for other users by their description, age, name, location, nationality, Linkedin industry, and Linkedin summary.
    </p>
  </body>
  <%= render 'layouts/footer_mail' %>
  <%= link_to "Unsubscribe from all monthly updates", unsubscribe_user_settings_url(@user, id: @unsubscribe_hash), style: 'font-size: 10px;' %>
</html>
