Dear <%= @user.name %>,
===============================================

      <%= image_tag(attachments["#{@other_user.name}.jpg"].url, alt: "#{@other_user.name}") %>
      <%= image_tag(attachments["linkedin.png"].url, alt: "Linkedin") if @other_user.linkedin %>
      <span style="text-transform:uppercase;font-weight: 700;"> <%= "#{@other_user.name}" %></span><%= " has left you a review of your #{@review.language} in your #{@review.chat_room.title} conversation together" %>
      <br><%= link_to "See Review", @peer_review_url, class: 'mail-btn' %>
