<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Dear <%= @user.name %>,</h4>
    <p>
      You have <%= @notifications %> new <%= @notifications > 1 ? "notifications" : "notification" %>. <a href="<%= @url %>">Log in</a> to see your unread messages!
    </p>
    <p>
      If you haven't already, link your Linkedin account to gain credibility and to have our matching algorithm find others close by.
      Make sure to check out the new <a href="<%= @url_tutorial %>">smartxchange board tutorial</a>, and
      don't forget to follow the latest posts on our <a href="https://twitter.com/smart_xchange">twitter</a> page.
    </p>
    <p>
      Keep practicing and networking in your free time at work
      or at home!<br> Sebastian Peterlin <br> Co-founder of smartXchange
    </p>

  </body>
</html>
