<!DOCTYPE html>
<html>
  <%= render 'layouts/header_mail' %>
  <body>
    <h4>Dear <%= @user.name %>,</h4>
      <div class="mail-match">
        <div class="mail-match-img">
          <%= image_tag(attachments["#{@interested_user.name}.jpg"].url, alt: "#{@interested_user.name}") %>
          <%= image_tag(attachments["linkedin.png"].url, alt: "Linkedin") if @interested_user.linkedin %>
        </div>
        <div class="mail-match-text">
          <span style="text-transform:uppercase;font-weight: 700;"> <%= "#{@interested_user.name}" %></span>, <%= "#{@interested_user.title}, wants to start #{a_or_an(@interested_user.language)} " %><span style="text-transform:uppercase;font-weight: 700;"><%= "#{@interested_user.language}"%></span><%=" conversation with you" %>
          <br><%= link_to "View Profile", @url_interested_user, class: 'mail-btn' %>
        </div>
      </div>
  </body>
  <%= render 'layouts/footer_mail_simple' %>
</html>
