Dear <%= @user.name %>,
===============================================

  You have <%= @notifications %> new <%= @notifications > 1 ? "notifications" : "notification" %>. Log in at <%= @url %> to see your unread messages!

  Make sure to check out the new <a href="<%= @url_tutorial %>">smartxchange website video tutorial</a>, and
  don't forget to follow the latest posts on our <a href="https://twitter.com/smart_xchange">twitter</a> page.

  Keep practicing and networking in your free time at work or at home!
  Sebastian Peterlin
  Co-founder of smartXchange
