<!DOCTYPE html>
<html>
  <%= render 'layouts/header_mail' %>
  <body>
    <h4>Dear <%= @match.name %>,</h4>
      <div class="mail-match">
        <div class="mail-match-img">
          <%= image_tag(attachments["#{@user.name}.jpg"].url, alt: "#{@user.name}") %>
          <%= image_tag(attachments["linkedin.png"].url, alt: "Linkedin") if @user.linkedin %>
        </div>
        <div class="mail-match-text">
          <span style="text-transform:uppercase;font-weight: 700;"> <%= "#{@user.name}" %></span>, <%= "#{@user.title}, wants to start #{['a','e','i','o','u'].include?(@user.language[0].downcase) ? 'an' : 'a'}" %> <span style="text-transform:uppercase;font-weight: 700;"><%= "#{@user.language}"%></span><%=" conversation with you" %>
          <br><%= link_to "View Profile", @url_user, class: 'mail-btn' %>
        </div>
      </div>
  </body>
  <%= render 'layouts/footer_mail_simple' %>
</html>
