<!DOCTYPE html>
<html>
  <%= render 'layouts/header_mail' %>
  <body>
    <h4>Dear <%= @user.name %>,</h4>
    <p>
      You have <%= pluralize(@notifications, "new notification") %>. <%= link_to "Log in", @url, class:'mail-btn'  %> to see your unread <%= "notification".pluralize(@notifications) %>!
    </p>
  </body>
  <%= render 'layouts/footer_mail' %>
</html>
