<!DOCTYPE html>
<html>
  <%= render 'layouts/header_mail' %>
  <body>
    <h4>Dear <%= @user.name %>,</h4>
    You and <%= @other_user.name %> have exchanged more than <%= @chat_room.messages.size %> messages.<br>
      <div class="mail-user">
        <div class="mail-user-img">
          <%= image_tag(attachments["#{@other_user.name}.jpg"].url, alt: "#{@other_user.name}") %>
          <%= image_tag(attachments["linkedin.png"].url, alt: "Linkedin") if @other_user.linkedin %>
        </div>
        <div class="mail-user-text">
          Please review  <span style="text-transform:uppercase;font-weight: 700;"> <%= "#{@other_user.name}" %></span><%= " in your #{@chat_room.title} conversation together" %>
          <br><%= link_to "Review", @peer_review_url, class: 'mail-btn' %>
        </div>
      </div>
  </body>
  <%= render 'layouts/footer_mail_simple' %>
</html>
