<!DOCTYPE html>
<html>
  <%= render 'layouts/header_mail' %>
  <body>
    <h4>Welcome to smartXchange Premium, <%= @user.name %>!</h4>
    <p>
      Enjoy <%= Package.second.description_uncapitalize %>
    </p>
    <p>
      To login to the site, just follow this <%= link_to "link", @url, class:'mail-btn'  %>.
    </p>
  </body>
  <%= render 'layouts/footer_mail_simple' %>
</html>
