<!DOCTYPE html>
<html>
  <%= render 'layouts/header_mail' %>
  <body>
    <h4>Dear <%= @user.name %>,</h4>
    <p>
      To change your password please use this temporary password: <%= @password %>.<br>
    </p>
    <p>
      Please <%= link_to "Log in", @url, class:'mail-btn'  %> with this new password and
    change your password at this <%= link_to "link", @url_change_password, class:'mail-btn'  %>.
    </p>
  </body>
  <%= render 'layouts/footer_mail_simple' %>
</html>
