<!DOCTYPE html>
<html>
  <%= render 'layouts/header_mail' %>
  <body>
    <h4>Dear <%= @user.name %>,</h4>
    <p>
      Please use this temporary password: <%= @password %><br>
    </p>
    <p>
      and change your password <%= link_to "here", @url_change_password, class:'mail-btn'  %>.
    </p>
  </body>
  <%= render 'layouts/footer_mail_simple' %>
</html>
