<div class="col-md-4 portfolio-item">
    <a href="<%= user_url(user) %>">
        <div class="user-image">
          <!-- kind of hack with paragraph to align image may need to refactor -->
        <p><%= image_tag(user.image.small_thumb.url, alt: user.name) %></p>
        </div>
        <div class="user-content">
          <div class="name">
            <h3><%= user.name %> <%= image_tag('green-dot.png', class:'active', alt: 'Active') if user.active %></h3>
          </div>
          <div class="age">
            <i><%= user.age %></i>
          </div>
          <h4><%= user.language %>,
            <span style="font-weight:normal">
            <%= user_convert_language_level(user.language_level) %>
            </span>
          </h4>
          <div class="title">
            <%= truncate(user.title, :length => 80) %>
          </div>
        </div>
    </a>
</div>
