<!-- Search row -->
<!-- need to refactor this layout -->
<br>
<div id="search">
  <form action="<%= users_path %>" method="get">
    <input type="text" name="search" class="search-field" placeholder="Search Users">
    <input type="submit" value="Search" class="btn btn-primary">
  </form>
</div>

<!-- Header Row -->
<!-- maybe refactor this a little -->
  <div class="row">
    <h4><a href="<%= all_users_path %>">All Users: <span style="font-weight: 300;"> <%= User.all.count %> </span></a>,
      <a href="<%= active_users_path %>">Active Users: <span style="font-weight: 300;"> <%= User.where(active: true).count %> </span></a>,
      <a href="<%= spanish_users_path %>"><%= user_convert_nationality_to_img('Spanish') %> : <span style="font-weight: 300;"> <%= User.where(language: 'Spanish').count %> </span></a>,
      <a href="<%= italian_users_path %>"><%= user_convert_nationality_to_img('Italian') %> : <span style="font-weight: 300;"> <%= User.where(language: 'Italian').count %> </span></a>,
      <a href="<%= german_users_path %>"><%= user_convert_nationality_to_img('German') %> : <span style="font-weight: 300;"> <%= User.where(language: 'German').count %> </span></a>,
      <a href="<%= french_users_path %>"><%= user_convert_nationality_to_img('French') %> : <span style="font-weight: 300;"> <%= User.where(language: 'French').count %> </span></a>,
      <a href="<%= english_users_path %>"><%= user_convert_nationality_to_img('English') %> : <span style="font-weight: 300;"> <%= User.where(language: 'English').count %> </span></a>
    </h4>
  </div>

<!-- Users Row -->
<div id="users">
  <% unless @users.empty? %>
      <!-- rows of users -->
      <% columns = 3  %>
      <% rows = 4 %>
      <% i = 0  %>
      <% while i < rows %>
        <% current_slice = i * columns  %>
        <% if @users.length > current_slice %>
          <!-- /.row -->
          <div class="row">
            <% @users.to_a.slice(current_slice, columns).each do |user| %>
              <%=  render 'users/user', user: user %>
            <% end  %>
          </div>
        <% end %>
        <% i += 1   %>
      <% end %>

    <%= will_paginate @users%>
  <% end %>
</div>
