<!-- may need to refactor this (body) -->
<body class="new">

<div class="col-lg-12 text-center">

  <h2 class="new section-heading">Welcome To Our Platform!</h2>
  <h3 class="new section-subheading">It's Nice To Meet You</h3>
  <h4 class="new subheading">Join our community of over <%= @user_count %> users!</h4>
  <a href="/about" class="page-scroll btn btn-xl">Tell Me More</a>

  <br>
  <br>
  <!-- Register with Linkedin -->
  <%= button_to "Register with Linkedin", new_linkedin_session_path, method: 'get', data: {confirm: "smartXchange will have access to your basic Linkedin profile and Linkedin email, are you sure?"}, class: 'btn btn-primary linkedin' %>

  <h4 class="new subheading">OR</h4>

  <!-- Sign up form -->
  <form action="/users" method="post" class="new">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Email<br>
      <input id="user-email" name="user[email]" type="text" value="<%= @user.email if @user %>"><br>
    </label><br>
    <label>Password<br>
      <input id="user-password" name="user[password]" type="password"><br>
    </label><br>
    <label>Name<br>
      <input id="user-name" name="user[name]" type="text" value="<%= @user.name if @user %>"><br>
    </label><br>
    <label>Age<br>
      <input id="user-age" name="user[age]" type="text" value="<%= @user.age if @user %>"><br>
    </label><br>
    <label>Profession / Title<br>
      <textarea id="user-title" name="user[title]" rows="3" cols="25"><%= @user.title if @user %></textarea><br>
    </label><br>
    <label>Language (to practice)<br>
      <select name="user[language]">
       <option value="Spanish" >Spanish</option>
       <option value="English" selected >English</option>
       <option value="German"  >German</option>
       <option value="French"  >French</option>
       <option value="Italian"  >Italian</option>
     </select>
    </label>
    <label>Language level <br>
      <select name="user[language_level]">
         <option value="1"  >A1 - beginner</option>
         <option value="2"  >A2 - elementary</option>
         <option value="3"  >B1 - intermediate</option>
         <option value="4"  >B2 - upper intermediate</option>
         <option value="5"  >C1 - advanced</option>
         <option value="6"  >C2 - master</option>
     </select>
    </label><br>
    <label>Native country<br>
      <select name="user[nationality]">
        <option value="Algerian" >Algeria</option>
        <option value="Armenian" >Armenia</option>
        <option value="American" >U.S.A</option>
        <option value="Argentinian" >Argentina</option>
        <option value="Australian" >Australia</option>
        <option value="Austrian" >Austria</option>
        <option value="Azerbaijani" >Azerbaijan</option>
        <option value="Bengali" >Bangladesh</option>
        <option value="Belgian" >Belgium</option>
        <option value="Bolivian" >Bolivia</option>
        <option value="Brazilian" >Brazil</option>
        <option value="Bulgarian" >Bulgaria</option>
        <option value="Cambodian" >Cambodia</option>
        <option value="Canadian" >Canada</option>
        <option value="Chilean" >Chile</option>
        <option value="Chinese" >China</option>
        <option value="Colombian" >Colombia</option>
        <option value="Croatian" >Croatia</option>
        <option value="Cypriot" >Cyprus</option>
        <option value="Czech" >Czech Republic</option>
        <option value="Danish" >Denmark</option>
        <option value="Dutch" >Netherlands</option>
        <option value="Ecuadorian" >Ecuador</option>
        <option value="Emirati" >United Arab Emirates</option>
        <option value="English" >United Kingdom</option>
        <option value="Estonian" >Estonia</option>
        <option value="Ethiopian" >Ethiopia</option>
        <option value="Filipino"  >Philippines</option>
        <option value="Finnish" >Finland</option>
        <option value="French"  >France</option>
        <option value="Georgian" >Georgia</option>
        <option value="German"  >Germany</option>
        <option value="Guatemalan" >Guatemala</option>
        <option value="Greek" >Greece</option>
        <option value="Honduran" >Honduras</option>
        <option value="Hungarian" >Hungary</option>
        <option value="Icelandic" >Iceland</option>
        <option value="Indian" >India</option>
        <option value="Indonesian" >Indonesia</option>
        <option value="Iranian" >Iran</option>
        <option value="Iraqi" >Iraq</option>
        <option value="Irish" >Ireland</option>
        <option value="Israeli" >Israel</option>
        <option value="Italian" >Italy</option>
        <option value="Japanese" >Japan</option>
        <option value="Jordanian" >Jordan</option>
        <option value="Kazakhstani" >Kazakhstan</option>
        <option value="Kenyan" >Kenya</option>
        <option value="Latvian" >Latvia</option>
        <option value="Lebanese" >Lebanon</option>
        <option value="Lithuanian" >Lithuania</option>
        <option value="Luxembourgish" >Luxembourg</option>
        <option value="Malaysian" >Malaysia</option>
        <option value="Maltan" >Malta</option>
        <option value="Mexican" >Mexico</option>
        <option value="Moroccan" >Morocco</option>
        <option value="New Zealander" >New Zealand</option>
        <option value="Nigerian" >Nigeria</option>
        <option value="Omanian" >Oman</option>
        <option value="Paraguayan" >Paraguay</option>
        <option value="Peruvian" >Peru</option>
        <option value="Philippino" >Philippines</option>
        <option value="Polish" >Poland</option>
        <option value="Portuguese" >Portugal</option>
        <option value="Romanian" >Romania</option>
        <option value="Russian" >Russia</option>
        <option value="Saudi Arabian" >Saudi Arabia</option>
        <option value="Singaporean" >Singapore</option>
        <option value="Slovakian" >Slovakia</option>
        <option value="Slovenian" >Slovenia</option>
        <option value="South African" >South Africa</option>
        <option value="South Korean" >South Korea</option>
        <option value="Spanish" selected >Spain</option>
        <option value="Swedish" >Sweden</option>
        <option value="Thai" >Thailand</option>
        <option value="Uruguayan" >Uruguay</option>
        <option value="Venezuelan" >Venezuela</option>
        <option value="Vietnamese" >Vietnam</option>
     </select>
   </label><br>

    <input type="submit" value="Register" class="btn btn-primary"><br>
  </form>
  <!-- hack job need to refactor with padding or margin -->
  <br>
  <br>

  <%= link_to "smartXchange Premium", "#{about_path}#premium", class: 'btn btn-primary premium' %>
  <br>
  <br>
  <br>

</div>

</body>
