<div class="row">
      <%= image_tag(@user.image.thumb.url, alt: @user.name, class: "profile-image") %>
      <div class="user-content profile">
        <!-- maybe move this later -->
        <% if @user.active  %>
          <%= image_tag('green-dot.png', class:'active', alt: 'Active') %> <br>
        <% end  %>
        <% if current_user == @user %>
            <form action="<%= user_url(@user) %>" method="post" enctype="multipart/form-data">
              <input type="hidden" name="_method" value="patch">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <label>Name<br>
                <input id="user-name" name="user[name]" type="text" value="<%= @user.name %>"><br>
              </label><br>
              <label>Age<br>
                <input id="user-age" name="user[age]" type="text" value="<%= @user.age %>"><br>
              </label><br>
              <label>Profession<br>
                <!-- Textarea cols (width) is 23 to align with name input width and because of course Jordan -->
                <textarea id="user-title" name="user[title]" rows="3" cols="23"><%= @user.title %></textarea><br>
              </label><br>
              <label>Language (to practice)<br>
                <select name="user[language]">
                 <option value="Spanish" <%= 'selected' if @user.language=='Spanish'%> >Spanish</option>
                 <option value="English" <%= 'selected' if @user.language=='English'%> >English</option>
                 <option value="German" <%= 'selected' if @user.language=='German'%> >German</option>
                 <option value="French" <%= 'selected' if @user.language=='French'%> >French</option>
                 <option value="Italian" <%= 'selected' if @user.language=='Italian'%> >Italian</option>
               </select>
              </label><br>
              <label>Language level <br>
                <select name="user[language_level]">
                   <option value="1" <%= 'selected' if @user.language_level==1 %> >A1 - beginner</option>
                   <option value="2" <%= 'selected' if @user.language_level==2 %> >A2 - elementary</option>
                   <option value="3" <%= 'selected' if @user.language_level==3 %> >B1 - intermediate</option>
                   <option value="4" <%= 'selected' if @user.language_level==4 %> >B2 - upper intermediate</option>
                   <option value="5" <%= 'selected' if @user.language_level==5 %> >C1 - advanced</option>
                   <option value="6" <%= 'selected' if @user.language_level==6 %> >C2 - master</option>
               </select>
              </label><br>
              <label>Picture<br>
                <input type="file" name="user[image]" value="<%= @user.image.small_thumb %>">
              </label><br>
              <input class="btn btn-primary" type="submit" value="Update">
            </form>
            <br>
            <%= button_to "Delete Account", user_url(@user), method: :delete, data: {confirm: "Are you sure you want to delete your account? All chat rooms and associated messages will be destroyed."}, class: 'btn btn-primary delete'  %>
        <% else %>
          <!-- need to refactor this -->
          <h1> <%= @user.name %></h1>
          <h4><span style="font-weight:normal">
                <i> <%= @user.age %></i>
              </span>
          </h4>
          <h4> <%= @user.title %></h4>
          <h4> <b><%= "#{@user.language}, "%></b>
            <span style="font-weight:normal"><%= user_convert_language_level(@user.language_level) %>
            </span>
          </h4>
          <!-- may change class to start-chat but have to make sure it doesn't conflict with js code -->
          <!-- also need to refactor the break -->
          <br>
          <%= form_for @chat_room do |f| %>
            <%= f.hidden_field :recipient_id, :value => @user.id %>
            <%= f.submit "Enter Chatroom", class: 'btn btn-primary' %>
          <% end %>

        <% end %>

      </div>

      <!-- Display linkedin information -->
      <div class="linkedin-content">
        <% if @user.linkedin %>
           <br> <!-- refactor later just for appearances now -->
          <a href="<%= @user.linkedin.public_url %>"><%= image_tag('linkedin-button.png', alt: 'Linkedin') %></a>
          <h4> <%= @user.linkedin.industry %></h4>
          <h4> <span style="font-weight:normal"><%= @user.location %> </span> </h4>
          <p><span style="font-weight:normal"><%= @user.linkedin.summary %></span></p>
          <% if @user == current_user  %>
            <%= button_to "Update Linkedin", update_linkedin_session_url, method: :get, class: 'btn btn-primary linkedin' %>
            <br>
            <%= button_to "Delete Linkedin", delete_linkedin_session_url, method: :delete, data: {confirm: "Are you sure you want to delete the Linkedin information associated with your account? Warning: If you registered with Linkedin you will not be able to sign back in to this account."}, class: 'btn btn-primary delete' %>
          <% end  %>
        <% elsif @user == current_user %>
          <%= button_to "Add Linkedin", add_linkedin_session_url, method: :get, data: {confirm: "smartXchange will have access to your basic Linkedin profile and Linkedin email, are you sure?"}, class: 'btn btn-primary linkedin' %>
        <% end %>
      </div>
</div>
