<div class="row">

    <div class="profile-image">
      <%= image_tag(@user.image.thumb.url, alt: @user.name) %>
      <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@user.latitude},#{@user.longitude}&markers=#{@user.latitude},#{@user.longitude}&zoom=12&size=250x250&key=#{ENV['GOOGLE_API_KEY']}", style: "padding-top: 10px;", alt: "#{@user.name} on the map" if current_user == @user %>
    </div>

    <div class="user-content profile">
      <!-- maybe move this later -->
      <% if @user.active  %>
        <%= image_tag('green-dot.png', alt: 'Active') %> <br>
      <% end  %>
      <% if current_user == @user %>
          <form action="<%= user_path(@user) %>" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="patch">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <label>Name / Nickname<br>
              <input id="user-name" name="user[name]" type="text" value="<%= @user.name %>"><br>
            </label><br>
            <label>Age<br>
              <input id="user-age" name="user[age]" type="text" value="<%= @user.age %>"><br>
            </label><br>
            <label>Profession / Title<br>
              <!-- Textarea cols (width) is 23 to align with name input width and because of course Jordan -->
              <textarea id="user-title" name="user[title]" rows="3"><%= @user.title %></textarea><br>
            </label><br>
            <label>Language (to practice)<br>
              <select name="user[language]">
               <option value="Spanish" <%= 'selected' if @user.language=='Spanish'%> >Spanish</option>
               <option value="English" <%= 'selected' if @user.language=='English'%> >English</option>
               <option value="German" <%= 'selected' if @user.language=='German'%> >German</option>
               <option value="French" <%= 'selected' if @user.language=='French'%> >French</option>
               <option value="Italian" <%= 'selected' if @user.language=='Italian'%> >Italian</option>
             </select>
            </label><br>
            <label>Language level <br>
              <select name="user[language_level]">
                 <option value="1" <%= 'selected' if @user.language_level==1 %> >A1 - beginner</option>
                 <option value="2" <%= 'selected' if @user.language_level==2 %> >A2 - elementary</option>
                 <option value="3" <%= 'selected' if @user.language_level==3 %> >B1 - intermediate</option>
                 <option value="4" <%= 'selected' if @user.language_level==4 %> >B2 - upper intermediate</option>
                 <option value="5" <%= 'selected' if @user.language_level==5 %> >C1 - advanced</option>
                 <option value="6" <%= 'selected' if @user.language_level==6 %> >C2 - master</option>
             </select>
            </label><br>
            <label>Native country<br>
              <select name="user[nationality]">
                <option value="Algerian" <%= "selected" if @user.nationality == "Algerian" %> >Algeria</option>
                <option value="Armenian" <%= "selected" if @user.nationality == "Armenian" %> >Armenia</option>
                <option value="American" <%= "selected" if @user.nationality == "American" %> >U.S.A</option>
                <option value="Argentinian" <%= "selected" if @user.nationality == "Argentinian" %> >Argentina</option>
                <option value="Australian" <%= "selected" if @user.nationality == "Australian" %> >Australia</option>
                <option value="Austrian" <%= "selected" if @user.nationality == "Austrian" %> >Austria</option>
                <option value="Azerbaijani" <%= "selected" if @user.nationality == "Azerbaijani" %> >Azerbaijan</option>
                <option value="Bengali" <%= "selected" if @user.nationality == "Bengali" %> >Bangladesh</option>
                <option value="Belgian" <%= "selected" if @user.nationality == "Belgian" %> >Belgium</option>
                <option value="Bolivian" <%= "selected" if @user.nationality == "Bolivian" %> >Bolivia</option>
                <option value="Brazilian" <%= "selected" if @user.nationality == "Brazilian" %> >Brazil</option>
                <option value="Bulgarian" <%= "selected" if @user.nationality == "Bulgarian" %> >Bulgaria</option>
                <option value="Cambodian" <%= "selected" if @user.nationality == "Cambodian" %> >Cambodia</option>
                <option value="Canadian" <%= "selected" if @user.nationality == "Canadian" %> >Canada</option>
                <option value="Chilean" <%= "selected" if @user.nationality == "Chilean" %> >Chile</option>
                <option value="Chinese" <%= "selected" if @user.nationality == "Chinese" %> >China</option>
                <option value="Colombian" <%= "selected" if @user.nationality == "Colombian" %> >Colombia</option>
                <option value="Croatian" <%= "selected" if @user.nationality == "Croatian" %> >Croatia</option>
                <option value="Cypriot" <%= "selected" if @user.nationality == "Cypriot" %> >Cyprus</option>
                <option value="Czech" <%= "selected" if @user.nationality == "Czech" %> >Czech Republic</option>
                <option value="Danish" <%= "selected" if @user.nationality == "Danish" %> >Denmark</option>
                <option value="Dutch" <%= "selected" if @user.nationality == "Dutch" %> >Netherlands</option>
                <option value="Ecuadorian" <%= "selected" if @user.nationality == "Ecuadorian" %> >Ecuador</option>
                <option value="Emirati" <%= "selected" if @user.nationality == "Emirati" %> >United Arab Emirates</option>
                <option value="English" <%= "selected" if @user.nationality == "English" %> >United Kingdom</option>
                <option value="Estonian" <%= "selected" if @user.nationality == "Estonian" %> >Estonia</option>
                <option value="Ethiopian" <%= "selected" if @user.nationality == "Ethiopian" %> >Ethiopia</option>
                <option value="Filipino" <%= "selected" if @user.nationality == "Filipino" %> >Philippines</option>
                <option value="Finnish" <%= "selected" if @user.nationality == "Finnish" %> >Finland</option>
                <option value="French"  <%= "selected" if @user.nationality == "French" %> >France</option>
                <option value="Georgian" <%= "selected" if @user.nationality == "Georgian" %> >Georgia</option>
                <option value="German"  <%= "selected" if @user.nationality == "German" %> >Germany</option>
                <option value="Guatemalan" <%= "selected" if @user.nationality == "Guatemalan" %> >Guatemala</option>
                <option value="Greek" <%= "selected" if @user.nationality == "Greek" %> >Greece</option>
                <option value="Honduran" <%= "selected" if @user.nationality == "Honduran" %> >Honduras</option>
                <option value="Hungarian" <%= "selected" if @user.nationality == "Hungarian" %> >Hungary</option>
                <option value="Icelandic" <%= "selected" if @user.nationality == "Icelandic" %> >Iceland</option>
                <option value="Indian" <%= "selected" if @user.nationality == "Indian" %> >India</option>
                <option value="Indonesian" <%= "selected" if @user.nationality == "Indonesian" %> >Indonesia</option>
                <option value="Iranian" <%= "selected" if @user.nationality == "Iranian" %> >Iran</option>
                <option value="Iraqi" <%= "selected" if @user.nationality == "Iraqi" %> >Iraq</option>
                <option value="Irish" <%= "selected" if @user.nationality == "Irish" %> >Ireland</option>
                <option value="Israeli" <%= "selected" if @user.nationality == "Israeli" %> >Israel</option>
                <option value="Italian" <%= "selected" if @user.nationality == "Italian" %> >Italy</option>
                <option value="Japanese" <%= "selected" if @user.nationality == "Japanese" %> >Japan</option>
                <option value="Jordanian" <%= "selected" if @user.nationality == "Jordanian" %> >Jordan</option>
                <option value="Kazakhstani" <%= "selected" if @user.nationality == "Kazakhstani" %> >Kazakhstan</option>
                <option value="Kenyan" <%= "selected" if @user.nationality == "Kenyan" %> >Kenya</option>
                <option value="Latvian" <%= "selected" if @user.nationality == "Latvian" %> >Latvia</option>
                <option value="Lebanese" <%= "selected" if @user.nationality == "Lebanese" %> >Lebanon</option>
                <option value="Lithuanian" <%= "selected" if @user.nationality == "Lithuanian" %> >Lithuania</option>
                <option value="Luxembourgish" <%= "selected" if @user.nationality == "Luxembourgish" %> >Luxembourg</option>
                <option value="Malaysian" <%= "selected" if @user.nationality == "Malaysian" %> >Malaysia</option>
                <option value="Maltan" <%= "selected" if @user.nationality == "Maltan" %> >Malta</option>
                <option value="Mexican" <%= "selected" if @user.nationality == "Mexican" %> >Mexico</option>
                <option value="Moroccan" <%= "selected" if @user.nationality == "Moroccan" %> >Morocco</option>
                <option value="New Zealander" <%= "selected" if @user.nationality == "New-Zealander" %> >New Zealand</option>
                <option value="Nigerian" <%= "selected" if @user.nationality == "Nigerian " %> >Nigeria</option>
                <option value="Omanian" <%= "selected" if @user.nationality == "Omanian" %> >Oman</option>
                <option value="Paraguayan" <%= "selected" if @user.nationality == "Paraguayan" %> >Paraguay</option>
                <option value="Peruvian" <%= "selected" if @user.nationality == "Peruvian" %> >Peru</option>
                <option value="Polish" <%= "selected" if @user.nationality == "Polish" %> >Poland</option>
                <option value="Portuguese" <%= "selected" if @user.nationality == "Portuguese" %> >Portugal</option>
                <option value="Romanian" <%= "selected" if @user.nationality == "Romanian" %> >Romania</option>
                <option value="Russian" <%= "selected" if @user.nationality == "Russian" %> >Russia</option>
                <option value="Saudi Arabian" <%= "selected" if @user.nationality == "Saudi-Arabian" %> >Saudi Arabia</option>
                <option value="Singaporean" <%= "selected" if @user.nationality == "Singaporean" %> >Singapore</option>
                <option value="Slovakian" <%= "selected" if @user.nationality == "Slovakian" %> >Slovakia</option>
                <option value="Slovenian" <%= "selected" if @user.nationality == "Slovenian" %> >Slovenia</option>
                <option value="South African" <%= "selected" if @user.nationality == "South-African" %> >South Africa</option>
                <option value="South Korean" <%= "selected" if @user.nationality == "South-Korean" %> >South Korea</option>
                <option value="Spanish" <%= "selected" if @user.nationality == "Spanish" %> >Spain</option>
                <option value="Swedish" <%= "selected" if @user.nationality == "Swedish" %> >Sweden</option>
                <option value="Thai" <%= "selected" if @user.nationality == "Thai" %> >Thailand</option>
                <option value="Turkish" <%= "selected" if @user.nationality == "Turkish" %> >Turkey</option>
                <option value="Uruguayan" <%= "selected" if @user.nationality == "Uruguayan" %> >Uruguay</option>
                <option value="Venezuelan" <%= "selected" if @user.nationality == "Venezuelan" %> >Venezuela</option>
                <option value="Vietnamese" <%= "selected" if @user.nationality == "Vietnamese" %> >Vietnam</option>
             </select>
           </label><br>
           <label>Location (City, Country / Landmark)<br>
             <input type="text" name="user[location]" value="<%= @user.location %>">
           </label>
            <label>Picture<br>
              <input type="file" name="user[image]" value="<%= @user.image.small_thumb %>">
            </label><br>
            <input class="btn btn-primary" type="submit" value="Update">
          </form>
          <br><br>
          <%= link_to "User Settings", user_settings_path(@user), class: 'btn btn-primary settings' %>
          <br><br>

      <% else %>
        <!-- need to refactor this, span part -->
        <h1> <%= @user.name %></h1>
        <h4><span style="font-weight:normal">
              <i> <%= @user.age %></i>
            </span>
        </h4>
        <h4><%= auto_link(@user.title) %></h4>
        <h4> <b><%= "#{@user.language}, "%></b>
          <span style="font-weight:normal"><%= user_convert_language_level(@user.language_level) %>
          </span>
        </h4>
        <h4> <%= @user.nationality %> <span style="font-weight:normal">National</span> </h4>
        <% if @user.person_of_interest?  %>
          <h4>Person of Interest</h4>
        <% end %>
        <% if @user.tutor?  %>
          <h4>Tutor</h4>
        <% end %>
        <h4> <span style="font-weight:normal"><i><%= @user.location %></i> </span> </h4><br>
        <!-- may change class to start-chat but have to make sure it doesn't conflict with js code -->
        <!-- also need to refactor the break -->
        <br>
        <%= form_for @chat_room do |f| %>
          <%= f.hidden_field :recipient_id, :value => @user.id %>
          <%= f.submit "Enter Conversation", class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>

    <!-- Display linkedin information -->
    <div class="linkedin-content">
      <% if @user.linkedin %>
         <br> <!-- refactor later just for appearances now -->
        <a href="<%= @user.linkedin.public_url %>"><%= image_tag('linkedin-button.png', alt: 'Linkedin') %></a>
        <h4> <%= @user.linkedin.industry %></h4>
        <p><span style="font-weight:normal"><%= @user.linkedin.summary %></span></p>
        <% if @user == current_user  %>
          <%= button_to "Update Linkedin", update_linkedin_session_path, method: :get, class: 'btn btn-primary linkedin' %>
          <br>
          <%= button_to "Delete Linkedin", delete_linkedin_session_path, method: :delete, data: {confirm: "Are you sure you want to delete the Linkedin information associated with your account? Warning: If you registered with Linkedin you will not be able to sign back in to this account."}, class: 'btn btn-primary delete' %>
        <% end  %>
      <% elsif @user == current_user %>
        <%= button_to "Add Linkedin", add_linkedin_session_path, method: :get, data: {confirm: "smartXchange will have access to your basic Linkedin profile and Linkedin email, are you sure?"}, class: 'btn btn-primary linkedin' %>
      <% end %>
    </div>
</div>

<div class="row">

    <!-- User Reviews -->
    <div class="user-reviews">
      <% if @user.reviews.any? %>
        <br><br><h4>Reviews</h4>
        <ul>
          <% @user.reviews.each do |review| %>
          <li id="review-<%= review.id %>"><span style="font-weight:700;text-transform:uppercase;"><%= review.language %></span>, rated  <i><span style="text-transform:uppercase;"><%= user_convert_language_level(review.language_level) %></span></i> by <%= link_to review.reviewer.name, user_url(review.reviewer) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

<script type="text/javascript">
  if (window.location.href.indexOf("#review-") != -1) {
    var review = window.location.href.split('#')[1]
    $('#'+review).css("background-color", "yellow");
  }
</script>
