<h3>Change Password</h3>

<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
<div class="field">
  <%= f.label :current_password, "Current Password" %><br />
  <%= f.password_field :current_password, :autocomplete => "off"  %>
</div>
  <div class="field">
    <%= f.label :new_password, "New Password" %><br />
    <%= f.password_field :new_password, :autocomplete => "off"  %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "New Password Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <br>
    <%= f.submit 'Update', class: 'btn btn-primary' %>
<% end %>
