<h1>User Settings</h1>
<h3>Password</h3>
<%= link_to "Change Password", change_password_user_settings_path, class: 'btn btn-primary settings' %>

<h3>Email Subscriptions</h3>
<%= link_to "Manage Subscriptions", email_subscription_user_settings_path, class: 'btn btn-primary settings' %>

<h3>Premium Membership</h3>
<% if @user.package && @user.package.classification == "Premium" %>
  You have the Premium Package, downgrade to the Standard Package: <%= link_to "Downgrade to Standard", downgrade_user_settings_path, data: {confirm: "Are you sure you want to cancel your premium membership? You will lose access to all premium services."}, class: 'btn btn-primary delete'%>
<% else %>
  Upgrade to the smartXchange Premium Package: <%= link_to "smartXchange Premium", new_transaction_path, class: 'btn btn-primary premium' %>
<% end %>

<h3>Active</h3>
<% if @user.active %>
  You are currently browsing in active mode, switch to stealth mode? <%= link_to "Stealth", deactivate_user_settings_path, class: 'btn btn-primary stealth' %>
<% else %>
  You are currently browsing in stealth mode, switch to active mode? <%= link_to "Active", activate_user_settings_path, class: 'btn btn-primary settings' %>
<% end %>

<h3>Reviews</h3>
<%= link_to "My Reviews", user_reviews_path(@user), class: 'btn btn-primary settings' %>

<h3>Account</h3>
<%= button_to "Delete Account", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete your account? All conversations and posts will be destroyed."}, class: 'btn btn-primary delete'  %>
