<%= image_tag(user.image.small_thumb.url, alt: user.name) %>
<b><%= user.name %></b>
<ul>
  <li> <%= user.language %>, <%= user.language_level %> </li>
  <li> <%= user.age %> </li>
  <li> <%= user.title %> </li>
  <%= link_to "View Profile", user_url(user) %>

</ul>
