<h1> All Users </h1>
<% unless @users.empty? %>
  <ul>
    <% @users.each do |user| %>
      <li><b><%= user.email %></b></li>
      <%= image_tag(user.image.small_thumb.url, alt: user.name) %>
      <ul>
        <li> <%= user.name %> </li>
        <li> <%= user.age %> </li>
        <li> <%= user.title %> </li>
      </ul>
    <% end %>
  </ul>
<% end %>
