<div class="row">
      <%= image_tag(@user.image.thumb.url, alt: @user.name, class: "user-image") %>
      <div class="user-content">
        <% if current_user == @user %>
            <form action="<%= user_url(@user) %>" method="post" enctype="multipart/form-data">
              <input type="hidden" name="_method" value="patch">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <label>Name<br>
                <input name="user[name]" type="text" value="<%= @user.name %>"><br>
              </label><br>
              <label>Age<br>
                <input name="user[age]" type="text" value="<%= @user.age %>"><br>
              </label><br>
              <label>Title<br>
                <input id="user-title" name="user[title]" type="text" value="<%= @user.title %>"><br>

              </label><br>
              <label>Language<br>
                <select name="user[language]">
                 <option value="Spanish" <%= 'selected' if @user.language=='Spanish'%> >Spanish</option>
                 <option value="English" <%= 'selected' if @user.language=='English'%> >English</option>
                 <option value="German" <%= 'selected' if @user.language=='German'%> >German</option>
               </select>
              </label><br>
              <label>Language level <br>
                <select name="user[language_level]">
                   <option value="1" <%= 'selected' if @user.language_level==1 %> >1 - beginner</option>
                   <option value="2" <%= 'selected' if @user.language_level==2 %> >2</option>
                   <option value="3" <%= 'selected' if @user.language_level==3 %> >3</option>
                   <option value="4" <%= 'selected' if @user.language_level==4 %> >4</option>
                   <option value="5" <%= 'selected' if @user.language_level==5 %> >5 - intermediate</option>
                   <option value="6" <%= 'selected' if @user.language_level==6 %> >6</option>
                   <option value="7" <%= 'selected' if @user.language_level==7 %> >7</option>
                   <option value="8" <%= 'selected' if @user.language_level==8 %> >8</option>
                   <option value="9" <%= 'selected' if @user.language_level==9 %> >9</option>
                   <option value="10" <%= 'selected' if @user.language_level==10 %> >10 - advanced</option>
               </select>
              </label><br>
              <label>Picture<br>
                <input type="file" name="user[image]" value="<%= @user.image.small_thumb %>">
              </label><br>
              <input class="btn btn-primary" type="submit" value="Update">
            </form>
        <% else %>
          <!-- need to refactor this -->
          <h1> <%= @user.name %></h1>
          <h4> <%= @user.age %></h4>
          <h4> <%= @user.title %></h4>
          <h4> <%= @user.language %>
          <%= @user.language_level %> </h4>
          <form class="send-message" action="/chats" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="sender_id" value="<%= current_user.id%>">
            <input type="hidden" name="recipient_id" value="<%= @user.id %>">
            <input class="btn btn-primary" type="submit" value="Chat">
          </form>
          <!-- <%= link_to "Message", new_chat_url({sender_id: current_user.id, recipient_id: @user.id}) %> -->
           <!-- <%= link_to "Message", "#", class: "btn btn-success btn-xs start-chat",
                             "data-sid" => current_user.id, "data-rip" => @user.id %> -->


        <% end %>
      </div>
</div>
