<h1><%= @board.title %></h1>
<div id="board-description" data-board-id="<%= @board.id %>">
  A board where you can post about potential language exchange meetups, your projects (such as Kickstarter projects), links to your work (such as art, design, development), and potential jobs / work you have to offer. You can also upvote or downvote a post (making someone's or your own post more popular), comment on a post, and follow a post so that you receive all notifications for that post. You are limited to 5 posts, 10 votes, and 10 comments per 24 hour period :).
</div>
<br>

<div id="posts">
    <ul>
      <% if @posts.any?  %>
        <%= render @posts %>
      <% end %>
    </ul>
</div>
<br>

<div class="post-form new">
  <form action="<%= posts_path %>" method="post" data-remote="true">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <textarea id="message-body" name="post[content]"></textarea>
    <input type="hidden" name="post[board_id]" value="<%= @board.id %>">
    <input type="submit" class="btn btn-primary send-post"  value="Post">
  </form>
</div>

<%= render 'layouts/translate' %>

<script type="text/javascript">
  $('.edit-post').each(function(index, value) {
    addEventEditPost(value);
  })
  $('.edit-comment').each(function(index, value) {
    // regex and parents() hack to get post parent may need to change later
    var post_id = $(value).parents().eq(5)[0].id.match(/[0-9]+/i)[0];
    addEventEditComment(value, post_id);
  })
  // probably need to refactor, location.reload(true) clears cache, currently every time page is loaded cached items are loaded and new, essentially script tag is being called twice
  <% if @notification %>
    <% if @notification.sourceable_type == "Comment" %>
      $('#comment-<%= @notification.sourceable_id %>').css("background-color", "yellow").width("50%");
    <% elsif @notification.sourceable_type == "Vote" %>
      $('#post-<%= @notification.notifiable_id %> .post-content .vote-numbers').css("background-color", "yellow");
    <% elsif @notification.sourceable_type == "Follow" %>
      $('#post-<%= @notification.notifiable_id %> .post-content time .post-followers').css("background-color", "yellow")
    <% elsif @notification.sourceable_type == "Post" %>
      $('#post-<%= @notification.notifiable_id %> .post-content').css("background-color", "yellow").width("70%");
    <% end %>
    // only way to make it work is with setTimeout, prefer scrollIntoView over window.location.href
    setTimeout(function(){document.getElementById('post-<%= @notification.notifiable_id %>').scrollIntoView()},500);
  <% end %>
  if (window.location.href.indexOf("#post-") != -1) {
    var post = window.location.href.split('#')[1]
    $('#'+post+' .post-content').css("background-color", "yellow").width("70%");
  }
</script>
