<li id="post-<%= post.id %>" class="post">
  <div class="post-content">
    <div class="post-votes">
      <%= link_to image_tag("small-plus-sign.png", alt: "Plus Sign"), upvote_post_path(post), remote: true, method: :post %>
      <%= link_to image_tag("small-minus-sign.png", alt: "Minus Sign"), downvote_post_path(post), remote: true, method: :post %>
      <!-- before was like this - remove if works on heroku (post.votes_count != nil ? post.votes_count : 0) : 0  -->
      <div class="vote-numbers"><%= post.respond_to?(:votes_value_sum) ? post.votes_value_sum : post.votes.sum(:value) %> (<%= post.respond_to?(:votes_count) ? post.votes_count : post.votes.size %>)</div>
    </div>
    <!-- refactor this later, get rid of p tag, maybe float this div left, change padding -->
    <div class="post-text"><%= auto_link(post.content, html: { target: '_blank' }) %></div>
    </p>
    <time datetime="<%= post.created_at %>">
      <%= link_to post.owner.name, user_path(post.owner) %> • <%= post.timestamp %>
      <% if post.owner == current_user %>
        <%= link_to "• Edit", "#", class: "edit-post", :data => { :'post-id' => post.id, :clicked => "false" } %>
        <%= link_to "• Delete", post_path(post), remote: true, method: :delete, data: {confirm: "Are you sure you want to delete this post? All associated comments, votes, and follows will be destroyed as well."}  %>
      <% else %>
        <% if post.followers.include?(current_user) %>
          <%= link_to "• Unfollow", unfollow_post_path(post), remote: true, method: :post, class: "post-unfollow" %>
        <% else %>
          <%= link_to "• Follow", follow_post_path(post), remote: true, method: :post, class: "post-follow" %>
        <% end  %>
      <% end %>
      <% if post.followers.any? %>
        <%= link_to "• "+ pluralize(post.followers.size, 'Follower'), followers_post_path(post), remote: true, class: "post-followers"  %>
      <% end %>
    </time>
  </div>
  <% if post.comments.any? %>
    <div class="post-comments">
      <ul>
        <%= render :partial => 'comments/comment', :collection => post.comments %>
      </ul>
    </div>
  <% end %>
  <%= render :partial => 'comments/form', :locals => {post: post } %>
  <br>
</li>
