<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-header">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#smartxchange">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="<%= root_path %>"><%= image_tag('logo.png', alt: 'SmartXchange') %></a>
        <!-- probably refactor need to reposition correctly -->
        <% if signed_in? && current_user.premium? %>
          <span style="color:#fed136" id="premium-header">Premium</span>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="smartxchange">
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
            <!-- maybe refactor later, especially yellow class  part -->
            <% if board_has_unread?(Board.first) %>
                <li id="board-header"><%= link_to "Board#{@unread_posts}", board_path + "#post-#{Post.first.id}", style: "color:yellow" %> </li>
            <% else %>
              <li id="board-header"><%= link_to "Board#{@unread_posts}", board_path %> </li>
            <% end %>
            <li><%= link_to "Network", users_path %></li>
            <li id="chat-rooms-header"><%= link_to "Conversations#{@unread_chat_rooms}", chat_rooms_path %></li>
            <li><%= link_to "My profile", user_path(current_user) %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Log out", session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
            <li><%= link_to "Sign up", signup_path %></li>
          <% end %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
