<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-header">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <% if signed_in? %>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#smartxchange">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div id="div-item-data" data-item-id="<%= current_user.id %>"></div>
        <% end  %>
        <a class="navbar-brand" href="<%= root_url %>"><%= image_tag('logo.png', alt: 'SmartXchange') %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="smartxchange">
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
            <li><%= link_to "Network", users_url %></li>
            <!-- refactor this -->
            <% if count_unread > 0 %>
              <li class="chats-header"><%= link_to "Chat Rooms (#{count_unread})", chat_rooms_url %></li>
            <% else %>
              <li class="chats-header"><%= link_to "Chat Rooms", chat_rooms_url %></li>
            <% end %>
            <li><%= link_to "My profile", user_url(current_user) %></li>
            <li><%= link_to "About", about_url %></li>
            <li><%= link_to "Log out", session_url, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log in", login_url %></li>
            <li><%= link_to "Sign up", signup_url %></li>
          <% end %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
