<!DOCTYPE html>
<% if signed_in? %>
  <%= current_user.email %>'s logged in
  <%= button_to "Sign out", session_url , method: :delete %>
<% end %>
<html>
<head>
  <title>SmartXchange</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <ul>
      <li><%= error %> </li>
    </ul>
  <% end %>
<% end%>

</body>
</html>
